<h1>Stores:</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>ID</th>
    </tr>
  </thead>
  <tbody>
    <% @stores.each do |store| %>
    <tr>
      <td><%= link_to store.name, store_path(store) %></td>
      <td><%= store.id %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<p><%= link_to "Add a store", new_store_path %></p>
<p><%= link_to "Home", root_path %></p>
