nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: fixed;
  background-color: #ffffff;
  width: 100%;
  top: 0;
  z-index: 100;
  border-bottom: 3px solid red;
}

.nav-style {
  background-image: url('standard_tuscan.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 640px 300px;
  padding-bottom: 400px;
}

nav li {
  display: inline;
  float: right;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}


nav li:hover {
  border-bottom: 3px solid red;
}

nav li.active {
  border-bottom: 3px solid red;
}
