nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: fixed;
  background-color: #ffffff;
  width: 100%;
  top: 0;
}

.nav-style {
  background-image: url('standard_tuscan.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 640px 300px;
  padding-bottom: 400px;
}

nav li {
  display: inline;
  float: right;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* nav {
  background: linear-gradient(180deg,#000,transparent);
    content: "";
    display: block;
    height: 150px;
    left: 0;
    opacity: 1;
    position: absolute;
    right: 0;
    top: 0;
} */
/*
nav li:hover {
  background-color: #D80000
} */
