body {
  font-family: Arial, Verdana, sans-serif;
  color: #111111;
}

.store-tables{
  width: 400px;
  display: inline-block;
}

.row {
  position: relative;
  top: 100px;
}

.db {
  text-align: center;
}


th, td {
  padding: 7px 10px 10px 10px;
}
th {
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-size: 90%;
  border-bottom: 2px solid red;
  border-top: 1px solid red;
  text-align: left;
}
tr.even {
  background-color: #efefef;
}
tr:hover {
  background-color: #F27983;
}
.money {
  text-align: right;
}
.chart {
  position: relative;
  top: -140px;
  left: -100px;
  float: right;
}

.bar-chart{
  position: relative;
  top: 100px;
}

.popular {
  position: relative;
  top: 100px;
}

.bar-chart h3 {
  text-align: center;
}
