<h1>Release Notes</h1>

<h3>Release 2019.1 - Wednesday 10/2/19</h3>
  <ul>Client Visible Changes
    <li>Display Overall Sales and Overall Labor totals</li>
    <li>Display total sales and total labor for each store</li>
    <li>Overall sales and labor by day table</li>
    <li style="color:red">Format Tables</li>
    <li>Display Top 3 selling products overall</li>
    <li>Display Top 3 selling products for each store</li>
    <li>Table with each product and their materials, cost and price</li>
  </ul>
  <ul>Internal Only Visible Changes
    <li>CSV Upload functionality</li>
    <li>Finalize DB Schema</li>
    <li style="color:red">Heroku Deployment</li>
  </ul>
  <ul>Invisible Changes
    <li>Prevent CSV uploads from duplicating</li>
    <li>Database Backup</li>
  </ul>

<h3>Release 2019.2 - Saturday 10/5/19</h3>
  <ul>Client Visible Changes
    <li style="color:red">Format Tables</li>
    <li>Full CRUD functionality for Products</li>
    <li style="color:red">Sort Product Table Alphabetically</li>
    <li>Menu Bar</li>
    <li style="color:red">Style Landing Page</li>
    <li style="color:red">Charts</li>
    <li style="color:red">Fix SQL Query Displays </li>
    <li>Add timecard upload</li>
    <li>Display Labor cost</li>
    <li>Full CRUD functionality for employees</li>
  </ul>
  <ul>Internal Only Visible Changes
    <li>Connect timecard table to Stores and Employees Tables</li>
    <li>Finalize COGS formula</li>
    <li>Re-finalize DB schema</li>
    <li style="color:red">Heroku Deployment</li>
  </ul>
  <ul>Invisbile Changes
    <li>Excel File Cleanup</li>
    <li>re-Organize excel upload files</li>
    <li>Create backup/experminetal Repo</li>
  </ul>

<h3>Release 2019.3 - Tuesday 10/8/19</h3>
  <ul>Client Visible Changes
    <li>Format Tables</li>
    <li style="color:red">Sort Product Table Alphabetically</li>
    <li>Style landing page</li>
    <li>Charts</li>
    <li style="color:red">Fix SQL query displays</li>
    <li>Display today's employees per store</li>
  </ul>
  <ul>Internal Only Visible Changes
    <li style="color:red">Heroku Deployment</li>
    <li style="color:red">README</li>
    <li style="color:red">Upload Validations</li>
    <li>Re-tool Backup Repo to be main Repo</li>
  </ul>
  <ul>Invisbile Changes
    <li>Merge Chart Branch</li>
    <li>Optimize for Epicodus computer</li>
  </ul>

<h3>Relase 2019.4 Friday 10/11/19</h3>
  <ul>Client Visible Changes
    <li style="color:red">Sort Product Table Alphabetically</li>
    <li>Fix SQL Query displays</li>
    <li>Add bonus views</li>
    <li style="color:red">Add product name reference table to orders view</li>
  </ul>
  <ul>Internal Only Visible Changes
    <li style="color:red">Heroku Deployment</li>
    <li style="color:red">README</li>
    <li style="color:red">Uploader Validations</li>
  </ul>
  <ul>Invisbile Changes
    <li>Refresh DB</li>
  </ul>
